body {
  background-color: #fff;
  text-align: center;
  padding-top: 360px;
}

h1 {
  background: #fff5ee;
  width: 200px;
  margin: auto;
  border-radius: 25px;
  border: 3px solid #f33;
  font-size: 26px;
  margin-top: -205px;
  padding: 7px;
  color: #de0202;
}

#Result {
  border: 3px solid #ff3333;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  padding: 50px 0;
  border-radius: 16px;
  background: #fff5ee;
}

#ResultNum {
  font-size: 50pt;
  font-family: FangSong;
  
}

#ResultNumR {
  font-size: 30pt;
  font-family: Verdana;
  position: relative;
  left: -30%;

}


#Button {
  margin: 50px 0 0 0;
}

#Button input {
  border-radius: 48px;
  border: 1px solid #208a33;
  background: #40aa53;
  padding: 7px 33px;
  color: #FFF;
  font-size: 28px;
  margin-top: 156px;
  outline: none;
}